
  .spacer {
    flex: 1;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar-element {
    flex-basis: 50%;
  }

  .toolbar-text {
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-overflow: ellipsis;
  }